<div class='search-container'>
  <%= form_with(url: root_path, method: :get, local: true) do |form| %>
    <%= form.text_field :user_id, class: 'search-input', placeholder: 'Search by Flickr User ID' %>
    <%= form.submit :Search, id: 'search-button' %>
  <% end %>
  <ion-icon name="aperture-sharp" id='aperture-icon'></ion-icon>
  <%= form_with(url: root_path, method: :get, local: true) do |form| %>
    <%= form.text_field :tags, class: 'search-input', placeholder: 'Search by Tags' %>
    <%= form.submit :Search, id: 'search-button' %>
  <% end %>
</div>

<%= render 'photos', photos: @photos, params: @params %>

<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
